wh($width, $height)
  width $width
  height $height
tl($top, $left)
  position absolute
  top $top
  left $left
tr($top, $right)
  position absolute
  top $top
  right $right
bl($bottom, $left)
  position absolute
  bottom $bottom
  left $left
br($bottom, $right)
  position absolute
  bottom $bottom
  right $right